{{define "content" }}
<article>
    <h1>Corpus</h1>
    <p>Corpus contains {{len .Posts}} documents and {{len .Index}} distinct word stems.</p>

    <ul>
        {{ range $key, $post := .Posts }}
            {{if $post.Words}}
                    <li><a href="/corpus/{{$post.ShaId}}">{{ $post.Subject }}</a>: {{ len $post.Words }}</li>
            {{end}}
        {{ end }}
    </ul>
</article>
{{end}}